.job__wrapper {
  width: 25%;
  float: left;
  padding: 5px 10px;
}

.job {
  background: white;
  margin: 5px auto;
  border-radius: 10px;
  padding: 5px 0;
  border-color: #cbb;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-top: 12px;
}
